*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus{
    outline: 3px dotted var(--blue);
    outline-offset: 5px;
    transition: all 0.4s;
}

:root{
    --border: #999;
    --blue: #4d66a0;
    --dark: #222;
    --bg: #eee;
    --white: #fff;

    --default: url(../img/cursor/default.svg), auto;
    --pointer: url(../img/cursor/pointer.svg), pointer;
    --text: url(../img/cursor/text.svg), text;
    --load: url(../img/cursor/load.svg), progress;
}

html{
    scroll-behavior: smooth;
    cursor: var(--default);
}

body{
    font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
    background-color: var(--bg);
}

.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.primary{
    color: var(--blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
b,
strong,
input,
textarea{
    cursor: var(--text);
}

a[href],
.btn,
button{
    cursor: var(--pointer);
}



/* loader start */

#loader{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    cursor: var(--load);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000000;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


/* loader end */



/* hero start */

.hero{
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap-reverse;
}

.hero__text-box{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.hero__title{
    font-size: 40px;
}

.hero__text{
    font-size: 18px;
}

.hero__content{
    font-size: 16px;
    opacity: 0.8;
}

.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn:hover{
    background-color: var(--blue);
    color: var(--white);
    letter-spacing: 2px;
    word-spacing: 2px;
}

/* hero end */



/* header start */

.header{
    width: 100%;
    position: sticky;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
}

.header__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.header__logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    text-decoration: none;
    cursor: var(--pointer);
}

.header__logo__img-box{
    width: 65px;
    display: flex;
}

.header__logo__img{
    width: 100%;
}

.header__logo__title{
    font-size: 25px;
    color: var(--white);
}

.header__logo__title .primary{
    color: var(--white);
    opacity: 0.8;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.clear-btn{
    border-radius: 10px 0 0 10px;
}

.btn.clear-btn:hover{
    letter-spacing: 0;
}

.search-inp {
    padding: 10px;
    font-size: 16px;
    color: var(--blue);
    background-color: var(--white);
    border: 1px solid var(--border);
    transition: all 0.4s;
}

.search-inp::placeholder{
    transition: all 0.4s;
}

.search-inp:hover::placeholder{
    color: var(--white);
}

.search-inp:hover{
    background-color: var(--blue);
    color: var(--white);
}

.btn {
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    background-color: var(--white);
    border: 1px solid var(--border);
    color: var(--blue);
    text-decoration: none;
    transition: 0.4s;
}

.search-btn{
    border-radius: 0 10px 10px 0;
}

.btn.search-btn:hover{
    letter-spacing: 0;
}

/* header end */



/* cities start */

.cities{
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cities-active{
    min-height: auto;
}

.cities-hidden{
    padding: 0;
}

.cities__container{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}

.ai-bot__img-box{
    width: 100%;
    max-width: 500px;
    display: flex;
}

.ai-bot__img{
    width: 100%;
    object-fit: cover;
}

.cities__title {
    font-size: 40px;
    text-transform: capitalize;
}

.cities__title-502 {
    font-size: 40px;
    text-transform: capitalize;
    --fa-animation-duration: 2s;
}

.cities__text {
    font-size: 20px;
}

.cities__text-502 {
    font-size: 30px;
}

.cities__img-box {
    width: 100%;
    max-width: 768px;
    display: flex;
    border: 1px solid var(--border);
}

.cities__img {
    width: 100%;
    object-fit: cover;
}

.cities iframe{
    width: 100%;
    height: 400px;
    max-width: 768px;
    object-fit: cover;
}

.cities iframe.iframe-cities{
    width: 100%;
    height: auto;
    max-width: 768px;
    object-fit: cover;
}

/* cities end */



/* footer start */

.footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer__top {
    text-align: center;
}

.footer__title {
    font-size: 20px;
    color: var(--white);
}

.footer__bot {
    text-align: center;
}

.footer__copyright {
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}

.footer__copyright i{
    --fa-animation-duration: 2s;
}

.footer__time::before {
    content: " | ";
}

/* footer end */



/* @media start */

@media (max-width: 425px) {

    .cities iframe{
        height: 300px;
    }

}

/* @media end */